<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.PrivilegeMapper">
    <resultMap id="privilegeMap" type="org.example.model.Privilege">
        <id property="id" column="id"/>
        <result property="privilegeName" column="privilege_name"/>
        <result property="privilegeUrl" column="privilege_url"/>
    </resultMap>

    <select id="selectPrivilegeByRoleId" resultMap="privilegeMap">
        SELECT p.*
        FROM privilege AS p
                 INNER JOIN role_privilege AS rp ON p.id = rp.privilege_id
        WHERE role_id = #{roleId}
    </select>
</mapper>